---
---
<header class="site-header">
  <div class="container">
    <p class="site-title"><a href="/">Sample Blog</a></p>
    <nav class="site-nav">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/info/">お知らせ</a></li>
        <li><a href="/news/category-product/">製品</a></li>
        <li><a href="/news/category-event/">イベント</a></li>
      </ul>
    </nav>
  </div>
</header>
